.module {
	padding: 0.5em;
	border-bottom: solid 2px #333;
    position: relative;

    &:last-child {
        border-bottom: none;
    }

    .module__title {
        margin-bottom: 0.5em;

        // &[data-title]:hover::after {
        //     content: attr(data-title);
        //     position: absolute;
        //     font-size: 1em;
        //     color: white;
        //     background-color: #333;
        //     z-index: 10;
        //     padding: 8px;
        // }
    }
    
    .module__label {
        color: lightgray;
        font-size:  0.75em;
        vertical-align: top;
    }

    .module__column {
        width: 48%;
        display: inline-block;
        vertical-align: top;
        margin-right: 2%;

        &.right {
            margin-right: 0;
            margin-left: 2%;
        }
    }

    .module__controls {
        margin-bottom: 0.5em;

        img.module__wave {
            height: 2em;
            margin-right: 8px;
            cursor: pointer;

            &.selected {
                background: $secondary-blue;
            }
        }
    }

    &.bpm {
        display: inline-block;
        border: solid 2px #333;
        padding: 0.5em;
        width: 400px;
    }

    &.envelope {

        ul.trigger-list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            list-style: none;
            padding: 0;

            li {
                color: $primary-blue;
                display: flex;
                padding: 8px 6px;
                margin-right: 4px;
                cursor: pointer;
                
                &.selected {
                    background: $secondary-blue;
                }
            }
        }
    }
}