input[type="range"] {
	margin: 1.5em 0;
    width: 100%; 
	-webkit-appearance: none;
    background: transparent;
    
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
    }

    &::-ms-track {
        width: 100%;
        cursor: pointer;  
        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid #3D5A80;
        height: 25px;
        width: 12px;
        background: #3D5A80;
        cursor: pointer;
        margin-top: -12px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    }

    /* All the same stuff for Firefox */
    &::-moz-range-thumb {
        border: 2px solid #3D5A80;
        height: 25px;
        width: 12px;
        background: #3D5A80;
        cursor: pointer;
    }

    /* All the same stuff for IE */
    &::-ms-thumb {
        border: 1px solid #3D5A80;
        height: 25px;
        width: 12px;
        background: #3D5A80;
        cursor: pointer;
    }

    /*style the track*/
    &::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #555;
    }

    &::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #555;
    }

    &::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    &::-ms-fill-lower {
        background: #555;
    }

    &:focus::-ms-fill-lower {
        background: #555;
    }

    &::-ms-fill-upper {
        background: #555;
    }

    &:focus::-ms-fill-upper {
        background:#555;
    }
}